<!doctype html>
<html ng-app>
<head>
	<script src="js/angular.js"></script>
	<script src="js/jquery-1.10.1.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/decider.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/decider.css">
</head>

<body>
<div ng-controller="dataCtrl">
	<ul>
		<li ng-repeat="user in users">
			<div class="done-{{user.isDone()}}">{{user.name}}</div>
		</li>
	</ul>
	<form >
		<input type="text" ng-model="formUserName" ng-model-instant>
		<button ng-click="addUser()">Add User</button>
	</form>
	<ul>
		<li ng-repeat="choice in choices">
			<div> {{choice.name}} - {{choice.getScore()}}</div>
		</li>
	</ul>
	<form >
		<input type="text" ng-model="formChoiceName" ng-model-instant>
		<button ng-click="addChoice()">Add Option</button>
	</form>
</div>
</body>
</html>
